*:focus {
  outline: none;
}

/*body {
  background-color: #DCFCF5;
  background-image: url(https://www.pinterest.com.au/pin/340866265524061892/) ;
}*/

body {
	background-color: #FEF5C1;


}

.header {
	background-image: url(abstract-art-background-1037995.jpg);
	height: 30%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 80px; /* some padding */
    text-align: center; /* center the text */
   /*background: #1abc9c;  green background */
    color: white; /* white text color */


}


.container {
	display: center;
	position: relative;
	top: 0px;
    left: 250px;
    width: 775px;
    height: 605px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/

}

.row { 
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
}

/* Main column */ 
.main { 
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
}

.output {
	flex: 40%;

}

.nameField {
	/*position: absolute; */
	margin-top: 10px;
	top: 10px;
    left: 350px;
    width: 160px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
/*	padding: 10px 20px 10px 20px;
	border-radius: 15px;
	*/
}

.textField {
	display: center;
	position: relative;
	top: 4px;
	background-color: white;
	/*width: 400px;*/
	margin-left: auto;
	margin-right: auto;
	border: 1px ;
	background: white;
	/*margin-top: 50px;*/
	overflow: auto;
	background-color: #F2FBFE;
	/*text-shadow: 1px 1px 1px;*/
	font-family: 'Montserrat', sans-serif;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
}

.button {
	font-family: 'Montserrat', sans-serif;

	border: 1px ;
}


/*.displayAll {
	position: absolute;
	display: center;
	top : 110px;
}*/

.debug {
/*	position: absolute;
	top: 100px;
    left: 450px;*/
	

}

.getAll {
/*	display: right;
	position: absolute;
	top: 600px;*/

}